<div class="container has-text-centered">
	<br><br>
	<a href="/user/<%= current_user.username %>"
	   class="button">View your public profile</a>
</div>

<section class="section">
	<div class="column is-4 is-offset-4 devise-form has-text-centered">
		<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>
		
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
			<%= f.label :username, :class => "label" %>
			<div class="control">
				<%= f.text_field :username, autofocus: true,
					:class => "input", :pattern => "[a-zA-Z0-9\_]{3,20}" %>
				<p class="has-text-centered is-size-7">(3 to 20 characters max, only letters, numbers and underscores (_))</p>
			</div>
		</div>
		
		
		<div class="field">
			<%= f.label :email, :class => "label" %>
			<%= f.email_field :email, autofocus: true, :class => "input" %>
		</div>
		
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>
		
		<div class="field">
			<%= f.label :password, :class => "label" %>
			<i>(leave blank if you don't want to change it)</i>
			<%= f.password_field :password, autocomplete: "off", :class => "input" %>
			<% if @minimum_password_length %>
			<em><%= @minimum_password_length %> characters minimum</em>
			<% end %>
		</div>
		
		<div class="field">
			<%= f.label :password_confirmation, :class => "label" %>
			<%= f.password_field :password_confirmation, autocomplete: "off", :class => "input" %>
		</div>
		
		<div class="field">
			<%= f.label :current_password, :class => "label" %> <i>(we need your current password to confirm your changes)</i>
			<%= f.password_field :current_password, autocomplete: "off", :class => "input" %>
		</div>
		
		<div class="actions">
			<%= f.submit "Update", :class => "input button is-primary" %>
		</div>
		<% end %>
	</div>
</section>
<section class="section">
	<div class="column is-4 is-offset-4 devise-form has-text-centered">
		
		<h3 class="title">Cancel my account</h3>
		
		<p>Unhappy? <br><br>
			<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "input button is-primary" %></p>
		<br>
		<%= link_to "Back", :back %>
	</div>
</section>
