<% content_for :head do %>
	<meta property="og:title" content="<%= @gif.title %>" />
	<meta property="og:description" content="<%= @gif.description %>" />
	<meta property="og:image" content="https://shadergif.com/gifs/<%= @gif.image_filename %>" />
	<meta property="og:video" content="https://shadergif.com/gifs/generated/<%= @gif.image_filename %>-vid.mp4" />
<% end %>
<script type="application/json" id="single-gif-json">
 [<%= raw(@gif_json) %>]
</script>
<div id="single-gif-app">
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered"><%= @gif.title %></h1>
			<image-box-list v-bind:gifs="gifs"></image-box-list>
		</div>
	</section>
</div>
<div class="comment-form-template" style="display:none;">
	<% if(user_signed_in?) %>
		<%= form_tag("/comments/new", method: "post") do %>
			<div class="has-text-left">
				<strong>Add a comment&nbsp;:</strong>
			</div>
			<input type="hidden" name="gif_id" value="">
			<textarea class="textarea" name="comment"></textarea>
			<br>
			<div class="has-text-right">
				<%= submit_tag "Publish", :class => "button is-primary" %>
			</div>
		<% end %>
	<% else %>
		<strong>Please <a href="/users/sign_in">sign in</a> to comment</strong>
	<% end %>
</div>
