<section class="section">
	<div class="column is-4 is-offset-4 devise-form has-text-centered">

		<h1 class="title">Forgot your password?</h1>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>
		
		<div class="field">
			<%= f.label :email, :class => "label" %>
			<%= f.email_field :email, autofocus: true, :class => "input is-large" %>
		</div>
		
		<div class="actions">
			<%= f.submit "Send me reset password instructions",
				:class => "button is-primary" %>
		</div>
		<% end %>

		<br>
		
		<%= render "devise/shared/links" %>
		
		
	</div>
</section>
