<script type="application/json" id="main-gifs-json">
	<%= raw(@gifs) %> 
</script>
<script type="application/json" id="mosaic-gifs-json">
	<%= raw(@mosaic_gifs) %> 
</script>
<% if !user_signed_in? %>
	<div class="home-description">
		<p>
			Shadergif allows you to create gifs using the GLSL language. Have fun browsing & coding! It's <span title="read: free software, also">open source: <a href="https://github.com/antoineMoPa/shadergif">github</a>
		</p>
	</div>
<% end %>
<div id="main-app">
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-one-fifth home-sidebar">
					<p class="has-text-weight-bold">Documentation</p>
					<p>
						Want to get started with shaders in GLSL?<br>
						Start with:
						<a href="https://doc.shadergif.com/">
							doc.shadergif.com
						</a>
					</p>
					<br>
					<br>
					<p class="has-text-weight-bold">Want some feature implemented?</p>
					<p>
						You could try coding it<br>
						I'm on
						<a href="https://github.com/antoineMoPa/shadergif">
							<strong>github</strong>
						</a>!
						<br>
						Give stars and fork!
					</p>
					<br><br>
					<p class="has-text-weight-bold">Version</p>
					<p>You are browsing shadergif version:</p>
					<p><%= Shadergif::VERSION %></p>
					<br><br>
					<p class="has-text-weight-bold">Community Status</p>
					<p>There are
						<%= User.count() %>
						registered users who shared
						<%= Gif.count() %> gifs.
					</p>
				</div>
				<div class="column news-block">
					<div class="news">
						<h3 class="title">Last gifs uploaded by our users</h3>
						<image-box-list v-bind:gifs="gifs"></image-box-list>
						<br>
						<div class="has-text-centered">
							<button v-if="has_more"
										  v-on:click="load_more"
										  class="button is-large"
							>
								view more
							</button>
							<div v-else>
								No more gifs to load!
							</div>
						</div>
					</div>
				</div>
				<div class="column home-sidebar is-one-fifth">
					<strong>Start Coding:</strong>
					<br><br>
					<div class="has-text-centered">
						<a class="button" href="/shader-editor/">
							Launch editor
						</a>
						<br><br>
						<a class="button" href="/shader-editor/examples">
							Start with sample code
						</a>
					</div>
					<div class="home-sidebar-spacer"></div>
					<% if !user_signed_in? %>
						<div class="has-text-centered">
							<p class="has-text-weight-bold">Don't have an account yet?</p>
							<p>With an account, you can post public gifs and save drafts.</p>
							<br>
							<a class="button" href="/users/sign_up">
								Sign up!
							</a>
						</div>
					<% end %>
					<div class="home-sidebar-spacer"></div>
					<div class="has-text-centered">
						<p class="has-text-weight-bold">Last gifs</p>
						<br>
						<image-mosaic v-bind:gifs="mosaic_gifs"></image-mosaic>
					</div>
					<div class="home-sidebar-spacer"></div>
					<p class="has-text-weight-bold">Bridge tutorial</p>
					<p>
						View the very first shadergif tutorial:
					</p>
					<br>
					<p class="has-text-centered">
						<a href="https://doc.shadergif.com/tutorials/building-a-bridge/">
							<img alt="bridge" src="/images/tutorials/bridge.png">
							<br>		
							<span class="button">view</span>
						</a>
					</p>
					<br>
					<p>Send feedback to <a href="https://github.com/antoineMoPa/shadergif/issues/new">github.com/antoineMoPa/shadergif/issues</a><br>
					</p>
					<br>
					<br>
				</div>
			</div>
		</div>
	</section>
</div>
