<!DOCTYPE html>
<html>
	<head>
		<title>Shadergif</title>
		

		<meta name="description" content="Write GLSL code and generate gifs."/>
		
		<meta charset="utf-8">
		
		<%= csrf_meta_tags %>
		
		<%= javascript_include_tag 'application' %>
		
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<% if request.path.ends_with? 'shader-editor' %>
			<link rel="stylesheet" href="js/lib/codemirror/lib/codemirror.css?version=1.0.3">
			<link rel="stylesheet" href="js/lib/codemirror/addon/dialog/dialog.css?version=1.0.3">
			<link rel="stylesheet" href="js/lib/codemirror/addon/search/matchesonscrollbar.css?version=1.0.3">
			<link rel="stylesheet" href="css/base.css?version=1.0.3">
			
			<%= stylesheet_link_tag    'shader_editor', media: 'all' %>
		<% else %>
			<%= stylesheet_link_tag    'application', media: 'all' %>
		<% end %>
	</head>
	<body>
		<%= render :partial => 'components/image_box_list' %>
		<%= render :partial => 'components/image_box' %>
		
		<%= javascript_include_tag 'components' %>
		<header class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" title="Version <%= Shadergif::VERSION %>" href="/">
						<img class="logo" src="/images/logo-shadergif.png" alt="ShaderGif">
					</a>
					
					<button class="button navbar-burger" data-target="main-mobile-menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="navbar-menu" id="main-mobile-menu">
					<div class="navbar-end">
						<a class="navbar-item is-active" href="/">
							Home
						</a>
						<% if user_signed_in? %>
							<%= link_to 'Account', edit_user_registration_path, :class => "navbar-item"  %>
							<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "navbar-item"  %>
						<% else %>
							<%= link_to 'Login', new_user_session_path, :class => "navbar-item" %>  
						<% end %>
						<% if request.path.ends_with? 'shader-editor' %>
						<a class="navbar-item is-active"
						   href="examples"
						   target="_blank">
							Examples
						</a>
						<% else %>
						<span class="navbar-item">
							<a class="button is-success is-inverted"
							   href="/shader-editor/">
								Shader Editor
							</a>
						</span>
						<% end %>
					</div>
				</div>
			</div>
		</header>
				
		<% if notice or alert %>
			<div class="container">
				<% if notice %>
					<p class="notification is-success"><%= notice %></p>
				<% end %>
				<% if alert %>
					<p class="notification is-danger"><%= alert %></p>
				<% end %>
			</div>
		<% end %>
		<%= yield %>
	</body>
</html>
