<!DOCTYPE html>
<html>
	<head>
		<title>ShaderGif</title>
		

		<meta name="description" content="ShaderGif is a GLSL code editor with a gif generator."/>
		
		<meta charset="utf-8">
		
		<%= csrf_meta_tags %>
		
		<% if Rails.env.production? %>
			<%= javascript_include_tag 'application' %>
		<% else %>
			<%= javascript_include_tag 'application-dev' %>
		<% end %>
		
		<% if content_for?(:head) %>
			<%= yield(:head) %>
		<% end %>
		
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<% if @is_editor %>
			<%= stylesheet_link_tag    'editor', media: 'all' %>
		<% else %>
			<%= stylesheet_link_tag    'application', media: 'all' %>
		<% end %>

		<% if current_page?('/users/edit') %>
			<link rel="stylesheet" href="/assets/lib/cropperjs/cropper.min.css">
		<% end %>
	</head>
	<body>
		<%= javascript_include_tag 'components' %>
		<% if not (@is_editor and Rails.env.electron?) %>
			<header class="navbar">
				<div class="container">
					
					<div class="navbar-brand">
						<a class="navbar-item" title="Version <%= Shadergif::VERSION %>" href="/">
							<img class="logo" src="/images/logo-shadergif.png" alt="ShaderGif">
						</a>
						
						<button class="button navbar-burger" data-target="main-mobile-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>
					<div class="navbar-menu" id="main-mobile-menu">
						<div class="navbar-start navbar-search-container">
							<form class="search-form" action="/search" method="GET">
								<input class="input navbar-search" type="text" name="search" placeholder="Search...">
								<input type="submit" class="button navbar-search-submit" value="Search">
							</form>
						</div>
						<div class="navbar-end">
							<a class="navbar-item is-active" href="/">
								Home
							</a>
							<a class="navbar-item" href="https://doc.shadergif.com" title="documentation">
								Doc
							</a>
							<a class="navbar-item" href="/about" title="about">
								About
							</a>
							<% if user_signed_in? %>
								<%= link_to 'Gifs&Drafts', user_gifs_and_drafts_path, :class => "navbar-item"  %>
								<%= link_to 'Account', edit_user_registration_path, :class => "navbar-item"  %>
								<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "navbar-item"  %>
							<% else %>
								<%= link_to 'Login', new_user_session_path, :class => "navbar-item" %>  
							<% end %>
							<% if @is_editor %>
								<a class="navbar-item is-active"
								   href="/editor/examples"
								   target="_blank">
									Examples
								</a>
							<% else %>
								<span class="navbar-item">
									<a class="button"
									   href="/editor/">
										<img class="feather-icon" src="/icons/feather/code.svg">
										Shader Editor
									</a>
								</span>
							<% end %>
							<% if user_signed_in? %>
								<span class="navbar-item">
									<% notification_count = current_user.notification_count() %>
									<% if notification_count > 0 %>
										<a class="notification-count" href="/notifications">
											<%= notification_count %>
										</a>
									<% else %>
										<a class="notification-count no-notifications" href="/notifications">
											<%= notification_count %>
										</a>
									<% end %>
								</span>
							<% end %>	
						</div>
					</div>
				</div>
			</header>
		<% end %>
		
		<% if notice or alert %>
			<div class="container notification-container">
				<% if notice %>
					<p class="notification is-success"><%= notice %></p>
				<% end %>
				<% if alert %>
					<p class="notification is-danger"><%= alert %></p>
				<% end %>
			</div>
		<% end %>
		<%= yield %>
	</body>
</html>
